.holder {
    box-sizing: content-box;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    grid-template-rows: auto;
    grid-auto-rows: 1px auto;
    width: 90%;
    padding: 1rem 1rem 0.4rem 1rem;

    background: #fff;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(25, 32, 36, 0.16), 0 -1px 4px rgba(25, 32, 36, 0.04);
    margin-bottom: 16px;
    outline: none;
    transition-duration: 200ms;
    transition-property: outline, border-color, box-shadow;
    transition-timing-function: ease-out;
    z-index: 0
}

.holder:hover {
    border-color: black;
}

.totalTime {
    font-size: 15px !important;
}
.duration {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
.flightId {
    font-size: 18px !important;
}

.split {
    box-sizing: content-box;
    flex-basis: 10%;
    height: 5px;
    background-color: #cdcccc;
    margin: 7px;
}

.flightNumberHolder {
    display:flex;
    flex-direction: column;
}

.flight {
    font-size: 16px;
    width: 0px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.stops {
    font-size: 18px !important;
    margin: 0 2em;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bold {
    font-family: 'TT Hoves Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 600;
    font-size: 30px;
    white-space:nowrap;
}

.date, .flight {
    font-family: 'TT Hoves Variable', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
}

.price {
    font-size: 30px;
    text-align: center;
    /* color: #e8381b;*/
    color : transparent;
}

.bookButton {
    aspect-ratio: 1 / 1;
    height: 50%;
}

.fa-arrow-down {
    transform: rotate(0deg);
    transition: transform 0.1s ease-in-out;
    transform-origin: center;
    width:fit-content
}
.fa-arrow-down:hover {
    transform: rotate(180deg);
}
